<ul class="main-navigation">
  <li><a href="{{ root_url }}/" class="nav-link">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives" class="nav-link">Archives</a></li>
  <li><a href="{{ site.subscribe_rss }}" class="nav-link">RSS</a></li>
  <li><a href="http://twitter.com/{{ site.twitter_user }}" class="nav-link">Twitter</a></li>
  <li><a href="http://github.com/{{ site.github_user }}" class="nav-link">Github</a></li>
  <li><a href="http://linkedin.com/in/{{ site.linkedin_user }}" class="nav-link">LinkedIn</a></li>
</ul>
